# --- Mac OS ---
.DS_Store
.AppleDouble
.LSOverride
._*

# --- Python & Virtual Environment ---
venv/
env/
__pycache__/
*.py[cod]

# --- Jupyter Notebook ---
.ipynb_checkpoints

# --- Environment Variables ---
.env
.env.local

# --- VS Code & Config ---
.vscode/
.agent

# --- SECURITY ---
database/URL_KEYS.py

# ==============================================
# ==============================================
# FRONTEND
# ==============================================

# --- Node.js Dependencies ---
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# --- Build Output ---
dist/
build/
.vite/

# --- Coverage reports ---
coverage/